@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.logo {
    text-decoration: none;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    font-family: 'Poiret One';
}

.spacer {
    flex: 1 1 auto;
}

.button-icon {
    color: white;
}