<div class="change-password-container">
  <h2>Change Password</h2>
  <button mat-icon-button class="close-button" (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Old Password</mat-label>
      <mat-error>Please enter your old password</mat-error>
      <input matInput formControlName="oldPassword" type="password" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <mat-error>New password must be at least 8 characters long</mat-error>
      <input matInput formControlName="newPassword" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="submit-button">Change Password</button>
  </form>
</div>
