.change-password-container {
  position: relative;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.submit-button {
  width: 100%;
}
