.background {
    position: fixed;
    background-image: url('/image/pexels-thirdman-7655826.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

button {
    display: block;
    width: 100%;
}

mat-card-title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 10px 0px;
}

mat-card {
    margin: 10px 0px;
    width: 100vw;
    max-width: 1200px;
    aspect-ratio: 16 / 9;
    display: block;
}

mat-card-content {
    width: 98%;
    height: 98%;
}

.main-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: max-content;
    aspect-ratio: auto;
    padding: 10px 20px;
}