.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
}

 
input[type="file"] {
  margin-bottom: 10px;  
}

 
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #fc1528f7;
  color: rgb(255, 255, 255);
}

.btn:hover {
  opacity: 0.9;
}

 .upload-btn {
  display: block;     
  margin-top: 10px;  
}

