h1{
  font-family: 'Aileron'; 
  font-weight: bold;
}
/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Video Styles */
#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Hero Overlay */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;  
  text-align: center;
  padding: 20px;
}


.hero-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #45a049;
}

/* Services Section */
.services-section {
  text-align: center;
  padding: 20px 20px;
}

.services-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #4CAF50;
  font-family: 'Aileron'; 
  font-weight: bold;

}

/* Overall grid layout for the service buttons */
.service-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Spacing between grid items */
  justify-content: center;
  margin-top: 30px;
}

/* Flexbox to align image and button in column */
.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px; /* Adjust spacing between image and button */
}

/* Styling for images */
.service-container img {
  width: 55%;   
  height: auto;  
  object-fit: cover;  
  aspect-ratio: 16 / 9;  
  border-radius: 10px;
  margin-bottom: 5px;
}


/* Styling for buttons */
.service-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service-container button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

/* What's New Section */
.whats-new-section {
  text-align: center;
  padding: 50px 20px;
  margin-top: 10px;
  background-color: #9bd8b5e1;
}

.whats-new-section h2 {
  font-family: 'Aileron'; 
  font-weight: bold;
  font-size: 36px;
  margin-top: -20px;
  margin-bottom: 30px;
  color: #19651b;
}

/* Carousel Section */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.carousel {
  position: relative;
  width: 800px;  
  height: 450px;  
  overflow: hidden;
  margin: 0 auto;  
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.dots {
  text-align: center;
  padding: 10px 0;
}

.dots span {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots .active-dot {
  background-color: #717171;
}
